@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
}

header {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer {
    background-color: blueviolet;
}


.button-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background-color: whitesmoke;
    font-family: 'JetBrains Mono';
    font-size: 20px;

    a {
        text-decoration: none;
        color: black;
    }
}

.button-header:hover {
    transition-duration: 0.5 s;
    a {
        text-decoration: none;
        color: rgb(37, 171, 82);
    }
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-family: "JetBrains Mono";
    flex-direction: column;
    .main-span{
        font-weight: bold;
        font-size: 45px;
    }
    .subtitle-span{
        font-size: 20px;
    }
}

.main-div {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.main-left{
    display: flex;
    justify-content: center;
    width: 60%;

}

.main-right{
    display: flex;
    justify-content: center;
    padding-right: 30px;
    width: 40%;
}

.main-photo {
    width: 90%;
}